{% extends 'Blog/base.html' %}
<style>
        @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

        * {
            font-family: 'montserrat', sans-serif;
        }

        #aboutusimg {
            width: 100%;
            border-radius: 20px;
            box-shadow: 0px 0px 15px rgb(180, 180, 180);
        }

        #A-heading {
            font-size: 2em !important;
        }

        @media only screen and (max-width: 991px) {

            #aboutusimg {
                border-radius: 10px;
            }
        }

        @media only screen and (max-width: 767px) {

            #aboutusimg {
                border-radius: 10px;
            }

            #A-heading {
                font-size: 1em !important;
            }

        }
</style>
{% block body %}
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" style="color: black;">Home</a></li>
                <li class="breadcrumb-item" style="color: black;"><a href="">About Us</a></li>
            </ol>
        </nav>
    </div>
    <!--ARTICAL Start-->
    <section>
        <!-- <div class="container">
            <img id="aboutusimg"
                src="https://images.unsplash.com/photo-1593642634524-b40b5baae6bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
                alt="">
        </div> -->
        <div class="container mt-5">
            <h2 class="display-5" id="A-heading" style="font-weight: 800;">
                About Us
            </h2>
            <hr>
            <p class="mt-5" style="font-weight: bold;">
                An idea was conceived by two young souls Mr. Mughavi A Tuccu and Mr. Joysankar Bhattacharjee to connect the dots of informative and expressive minds and serve it to the rest. 2020 is the year Totellexpress begins its journey.

                Totellexpress, to go by the name of it gives a meaning of "to tell and to express". So Totellexpress provides a sphere where the unread is read and the unseen is seen. In this era when people keep their thoughts and ideas sheltered in isolation, totelexpress offers space for the expression of minds in lifestyle, trends, events, and sneak peek embroidered with the rich deposit of words and thoughts. Totellexpress weaves an awning of words and strokes where expressions find the language. 
                
                It is laid out in a way to come up with fresh talents and nurture the long nourished ambitions to bring on their demand in their own fields with an opportunity to express. 
                
                Totellexpress lets one express and learn to express rightly because it believes in learning by doing and so it does.
            </p>
            <hr class="mt-5">
        </div>
        </div>
    </section>
{% endblock %}