{% load static %}

<!--Navbar-->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark primary-color " id="a">
  <button class="navbar-toggler btn" id="mobilemenu" type="button" data-toggle="collapse" data-target="#navbarnav">
    <span class="navbar-toggler-icon ml-auto " id="mobmen"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarnav">
    <a href="/"><img src="{% static 'img/totell-e1559974619203.png' %}" alt="" id="logo2" /></a>
    <ul class="navbar-nav m-auto p-2">
      <li class="nav-item px-3 active">
        <a href="{% url 'sneakpeek' %}" class="nav-link">SNEAK-PEEK</a>
      </li>
      <li class="nav-item px-3">
        <a href="{% url 'events' %}" class="nav-link">EVENTS</a>
      </li>
      <li class="nav-item px-3">
        <a href="{% url 'lifestyle' %}" class="nav-link">LIFESTYLE</a>
      </li>
      <li class="nav-item px-3">
        <a href="{% url 'trends' %}" class="nav-link"> TRENDS</a>
      </li>
      <li class="nav-item px-3">
        <a id="wwu" href="{% url 'writewithus' %}" class="nav-link">
          <p style="margin: 0 10px 0 10px;padding: 0;color: white;font-weight: 500;">WRITE WITH US</p>
        </a>
      </li>
      {% if user.is_authenticated %}
      <li>Hello, {{user.username}}</li>
      <li><a href="{% url 'logout' %}">&nbsp &nbsp &nbsp Logout</a></li>
      <li><a href="{% url 'settings' %}">&nbsp &nbsp &nbsp Settings</a></li>
      {% else %}
      <li><a href="{% url 'register' %}">&nbsp &nbsp &nbsp Register</a></li>
      <li><a href="{% url 'login' %}">&nbsp &nbsp &nbsp Log In</a></li>
      {% endif %}
    </ul>

    <div class="container row" id="icon2nav">
      <p style="font-weight: 600;">Follow us</p>
      <div class="row" id="iconrowbot">
        <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-facebook.svg' %}" alt=""></a>
        <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-instagram.svg' %}" alt=""></a>
        <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-google-maps.svg' %}" alt=""></a>
        <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-linkedin.svg' %}" alt=""></a>



      </div>
    </div>
  </div>
</nav>