{% extends 'Blog/base.html' %}
{% block body %}
<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color: black;">Home</a></li>
            <li class="breadcrumb-item"><a href="" style="color: black;">Know Who We Are</a></li>
        </ol>
    </nav>
</div>

<section>
    <div class="container mt-3">
        <h3 class="display-5" id="A-heading" style="font-weight: 500; font-size: 2em;">
            Editorial Team
        </h3>
    </div>
</section>
<div class="container">
    <div class="row">
        {% for editors in editors %}
        <div class="col-md-3 mt-3 mb-3">
            <!-- Card -->
            <div class="card testimonial-card h-100"
                style="background: rgba(233, 233, 233, 0);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>

                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="{{ editors.writer.profile_pic.url }}"
                        class="rounded-circle p-4" alt="woman avatar" style="width: 100%;">
                </div>

                <!-- Content -->
                <div class="ml-4">
                    <!-- Name -->
                    <h4 class="card-title">{{ editors.username }}</h4>
                    <p style="font-weight: 700;color: rgb(105, 105, 105);">{{ editors.writer.designation }}
                    </p>
                    <p style="font-weight: 700;color: rgb(105, 105, 105);">
                    </p>
                    <p>{{ editors.writer.bio }} <br><br><br><br>
                    </p>
                </div>

                <div class="dropdown rounded-pill m-auto" style="position: absolute; bottom: 2px;">
                    <!--Trigger-->
                    <button class="btn btn-dark dropdown-toggle rounded-pill" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>

                    <!--Menu-->
                    <div class="dropdown-menu dropdown-primary">
                        {% if editors.writer.facebook %}
                        <a class="dropdown-item pcon" href="{{ editors.writer.facebook }}"><i class="fab fa-facebook fa-2x m-2 text-primary" aria-hidden="true"></i>Like</a>
                        {% endif %}
                        {% if editors.writer.instagram %}
                        <a class="dropdown-item pcon" href="{{ editors.writer.instagram }}"><i class="fab fa-instagram fa-2x m-2 text-danger" aria-hidden="true"></i>Follow</a>
                        {% endif %}
                        {% if editors.writer.linkedin %}
                        <a class="dropdown-item pcon" href="{{ editors.writer.linkedin }}"><i class="fab fa-linkedin fa-2x m-2 text-info" aria-hidden="true"></i>Connect</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>
        {% endfor %}
    </div>
</div>
{% if technical.count %}
<section>
    <div class="container mt-3">
        <h3 class="display-5" id="A-heading" style="font-weight: 500; font-size: 2em;">
            Technical Team
        </h3>
        <hr />
    </div>
</section>
{% endif %}
<div class="container">
    <div class="row">
        {% for technical in technical %}
        <div class="col-md-3 mt-3 mb-3">
            <!-- Card -->
            <div class="card testimonial-card h-100"
                style="background: rgba(233, 233, 233, 0);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>

                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="{{ technical.writer.profile_pic.url }}"
                        class="rounded-circle p-4" alt="woman avatar" style="width: 100%;">
                </div>

                <!-- Content -->
                <div class="ml-4">
                    <!-- Name -->
                    <h4 class="card-title">{{ technical.username }}</h4>
                    <p style="font-weight: 700;color: rgb(105, 105, 105);">{{ editors.writer.designation }}
                    </p>
                    <p style="font-weight: 700;color: rgb(105, 105, 105);">
                    </p>
                    <p>{{ technical.writer.bio }}
                    </p>
                </div>
                <div class="dropdown rounded-pill m-auto mb-3">
                    <!--Trigger-->
                    <button class="btn btn-dark dropdown-toggle rounded-pill mb-4" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
                    <!--Menu-->
                    <div class="dropdown-menu dropdown-primary">
                        {% if technical.writer.facebook %}
                        <a class="dropdown-item pcon" href="{{ technical.writer.facebook }}"><i class="fab fa-facebook fa-2x m-2 text-primary" aria-hidden="true"></i>Like</a>
                        {% endif %}
                        {% if technical.writer.instagram %}
                        <a class="dropdown-item pcon" href="{{ technical.writer.instagram }}"><i class="fab fa-instagram fa-2x m-2 text-danger" aria-hidden="true"></i>Follow</a>
                        {% endif %}
                        {% if technical.writer.linkedin %}
                        <a class="dropdown-item pcon" href="{{ technical.writer.linkedin }}"><i class="fab fa-linkedin fa-2x m-2 text-info" aria-hidden="true"></i>Connect</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>  
        {% endfor %}
    </div>
</div>
{% if social.count %}
<section>
    <div class="container mt-3">
        <h3 class="display-5" id="A-heading" style="font-weight: 500; font-size: 2em;">
            Social Media Team
        </h3>
        <hr />
    </div>
</section>
{% endif %}
<div class="container">
    <div class="row">
        {% for social in social %}
        <div class="col-md-3 mt-3 mb-3">
            <!-- Card -->
            <div class="card testimonial-card h-100"
                style="background: rgba(233, 233, 233, 0);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>

                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="{{ social.writer.profile_pic.url }}"
                        class="rounded-circle p-4" alt="woman avatar" style="width: 100%;">
                </div>

                <!-- Content -->
                <div class="ml-4">
                    <!-- Name -->
                    <h4 class="card-title">{{ social.username }}</h4>
                    <p style="font-weight: 700;color: rgb(105, 105, 105);">{{ editors.writer.designation }}
                    </p>
                    <p style="font-weight: 700;color: rgb(105, 105, 105);">
                    </p>
                    <p>{{ social.writer.bio }}
                    </p>
                </div>

                <div class="dropdown rounded-pill m-auto mb-3">
                    <!--Trigger-->
                    <button class="btn btn-dark dropdown-toggle rounded-pill mb-4" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>

                    <!--Menu-->
                    <div class="dropdown-menu dropdown-primary">
                        {% if social.writer.facebook %}
                        <a class="dropdown-item pcon" href="{{ social.writer.facebook }}"><i class="fab fa-facebook fa-2x m-2 text-primary" aria-hidden="true"></i>Like</a>
                        {% endif %}
                        {% if social.writer.instagram %}
                        <a class="dropdown-item pcon" href="{{ social.writer.instagram }}"><i class="fab fa-instagram fa-2x m-2 text-danger" aria-hidden="true"></i>Follow</a>
                        {% endif %}
                        {% if social.writer.linkedin %}
                        <a class="dropdown-item pcon" href="{{ social.writer.linkedin }}"><i class="fab fa-linkedin fa-2x m-2 text-info" aria-hidden="true"></i>Connect</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
