@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-button {
    display: none;
}
#commentpic {
    width: 75%;
}
.breadcrumb {
    background-color: none !important;
    box-shadow: none !important;
}
#top {
    background-color: rgba(0, 0, 0, 0.25) !important;
    width: 120px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.card-img {
    position: relative;
    height: 90px !important;
    width: 90px !important;
    border-radius: 50%;
}
.card-body {
    position: absolute !important;
    left: 100px !important;
}
.middleicon {
    position: absolute;
    z-index: 11;
    right: 300px !important;
    top: 20px !important;
    width: 200px;
    padding: 5px;
}
.middleicon i {
    margin: 0px 10px 10px 10px;
    color: black !important;
    white-space: 10px;
}
#trendcards {
    height: 350px;
    background-size: cover;
}
#trendcards .h2 {
    margin-top: 20%;
}
#trendcards p {
    text-align: left;
    color: white;
}
#z {
    border-radius: 10px;
    background-image: linear-gradient(to bottom right,
            rgba(194, 87, 0, 0.281),
            rgba(0, 0, 0, 0.664));
    height: 100%;
}
.card-body {
    height: 100px;
}
.card {
    border-radius: 10px;
}
.card {
    margin-top: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.25) !important;
}
.card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    animation: backwards;
}
#exampleInput {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff !important;
    border-radius: 10px;
}
@media only screen and (max-width: 767px) {
    #A-heading {
        font-size: 27px !important;
    }
    .card-body {
        position: absolute;
        top: 1px !important;
    }
    #para1 {
        font-size: 15px !important;
    }
    #red {
        font-size: 20px;
    }
    .breadcrumb {
        font-size: 15px;
    }

    #commentpic {
        width: 20%;
    }
}
.like__btn {
    border: none;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.4rem;
    max-width: 200px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.like__btn:hover {
    background-color: rgba(231, 76, 60, 0.8);
}

.like__btn:disabled {
    background-color: #d4cfcf;
    cursor: pointer;
}

.like__icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.like__number {
    font-size: 0.8rem;
}

@media only screen and (max-width: 767px) {
    #nolike {
        text-align: center;
    }
    #writerbox{
        text-align: center;
    }
      #writerbox .col-md-10{
        margin-top: 20px;
    }
}