{% extends 'Blog/base.html' %}
{% load static %}
{% block head %}
<title>TOTELL EXPRESS | {{post.title}}</title>
<link rel="stylesheet" href="{% static 'css/article2.css' %}">
<style>
    input:focus{
        border: solid 2px rgba(0, 140, 255, 0.685) !important;
    }
</style>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">{{ post.blogType }}</a></li>
                <li class="breadcrumb-item" aria-current="page">
                    {{post.title}}
                </li>
            </ol>
        </nav>
    </div>
    <!--ARTICAL Start-->
    <!--writer 1-->
    <section>
        <div class="container mt-3">
            <p class="lead bg-dark" id="top">{{ post.blogType }}</p>
            <img src="{{ post.cover.url }}" class="img-fluid mb-2" alt="Responsive image">
            <h3 class="display-5" id="A-heading" style="font-weight: 600;">{{ post.title }}</h3>
            <p>{{post.time}} minutes read | {{post.view.count}} views</p>
            <hr />
            <section>
                <div class="container" id="writerbox">
                  <div class="row m-2 mb-3 mt-3 p-2" style="box-shadow: 0 5px 20px rgba(0, 0, 0, 0.233);">
                    <div class="col-md-1">
                      <img class="rounded-circle" style="width: 100%;" src="{{ post.post_writer.profile_pic.url }}" alt="">
                    </div>
                    <div class="col-md-10">
                      <a href="{% url 'profile' post.post_writer.id %}"><h3 class="m-0 p-0">{{ post.post_writer }}</h3></a>
                      <p class="m-0 p-0 ">{{ post.timestamp|date }}</p>
                    </div>
                  </div>
                </div>
              </section>
            
        </div>
    </section>
    <!--Ad-->
    <!-- <div class="container">
        <div class="row extend-sm">
            <div class="col-md-6">
                <img style="width: 100%;border-radius: 10px;box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.26);"
                    src="https://images.unsplash.com/photo-1551383616-a9e150c07fca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                    alt="">
            </div>
        </div>
    </div> -->
    <!--article img 1 & para-->
    <div class="container mt-3">
        <div class="row">
            <p class="lead mt-3" id="para1">{{post.content|safe}}</p>
        </div>
    </div>
    <!-- Ad -->
    <!-- <div class="container">
        <div class="row extend-sm">
            <div class="col-md-6">
                <img style="width: 100%;border-radius: 10px;box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.26);"
                    src="https://images.unsplash.com/photo-1551383616-a9e150c07fca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                    alt="">
            </div>
        </div>
    </div> -->
    <!--writer 2-->
    <!-- <section>
        <div class="container mt-3">
        </div>
    </section> -->
    <!--Article End-->
    <div class="container">
        <div class="row">
            <form action="{% url 'like_post' post.id %}" method="post">
                {% csrf_token %}
                {% if liked %}
                    <div class="col-md-1">
                    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger"><i
                            class="like__icon fa fa-heart"></i></button>
                    </div>
                {% else %}
                    <div class="col-md-1">
                    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger"
                        style="justify-content: center;">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </button>
                </div>
                {% endif %}
                <div class="col-md-11 ">
                    <p class="display-7">{{post.likes.count}} people like this article</p>
                </div>
            </form>
        </div>
    </div>
    <div class="container mt-5">
        <form action="{% url 'postComment' %}" method="POST"> {% csrf_token %}
            <h3 class="">Write a comment ({{comments.count}})</h3>
            <div class="row">
                <div class="col-md-7">
                    <input name="comment" id="comment-bar" class="w-100 " style="border-radius: 10px;border: solid 2px rgba(72, 107, 136, 0.685);height: 45px;" type="text" required>
                    <input type="hidden" name="postID" value="{{ post.id }}">
                    <button type="submit" class="btn btn-dark mx-0 my-3" style="border-radius: 10px;box-shadow: none;">Comment</button>
                </div>
            </div>
        </form>
        {% for message in messages %}
            {{message}}
        {% endfor %}
        {% for comment in comments %}
        <div class="card my-2" style="box-shadow: none;background: #0084ff17;border-radius: 15px;border-right: solid 5px rgb(0, 183, 255);border-left: solid 5px rgb(0, 183, 255);">
                <div class="" style="max-width: 15%;">
                    <img class="mb-1 " style="border-radius: 10px;width: 60px;height: 60px;object-fit: cover;object-position: top;" src="{{comment.user.writer.profile_pic.url}}" alt="">
                </div>
              <h5 class="card-title my-0">{{comment.user.username}}</h5>
              <h6 class="card-title my-0">{{comment.timestamp}}</h6>
              <p class="card-text">
                {{comment.comment}}
              </p>
        </div>
        {% endfor %}
    </div>
      <hr class="m-5">
    <!--links-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h3 class="disply-3">Share the Article</h3>
                <hr>
                <div id="middleicon p-3">
                    <a href="https://www.facebook.com/sharer.php?u=https://totellexpress.herokuapp.com/blog/{{ post.id }}/" target="_blank">
                        <i class="fa fa-facebook-official fa-2x p-2"></i>
                    </a>
                    <a href="whatsapp://send?text=https://totellexpress.herokuapp.com/blog/{{ post.id }}/" target="_blank">
                        <i class="fa fa-whatsapp fa-2x p-2" aria-hidden="true"></i>
                    </a>
                    <i class="fa fa-instagram fa-2x p-2" aria-hidden="true"></i>
                    <i class="fa fa-instagram fa-2x p-2" aria-hidden="true"></i>
                    <i class="fa fa-pinterest fa-2x p-2" aria-hidden="true"></i>
                    <i class="fa fa-whatsapp fa-2x p-2" aria-hidden="true"></i>
                    <i class="fa fa-linkedin fa-2x p-2 " aria-hidden="true"></i>
                    <i class="fa fa-twitter fa-2x p-2" aria-hidden="true"></i>
                    <i class="fab fa-linkedin fa-2x p-2" aria-hidden="true"></i>
                    <i class="fab fa-reddit-alien fa-2x p-2" aria-hidden="true"></i>
                    <i class="far fa-copy fa-2x p-2" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <!--more articles-->
    {% include 'Blog/trending.html' %}
{% endblock %}