{% extends 'Blog/base.html' %}
{% load static %}
{% block body %}

<!--breadcrumb-->
<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">{% block bread %}{% endblock %}</a></li>
    </ol>
  </nav>
</div>
<!--ARTICAL Start-->
<section>
  <div class="container mt-3">
    <h3 class="display-5" id="A-heading" style="font-weight: 800;font-style: italic;"><i
        class="fas fa-eye mr-2"></i>{% block heading %}{% endblock %}</h3>
  </div>
</section>
<!--ARTICAL Start-->
<!-- <section class="container p-1 text-center bg-dark mt-2">
  <div class="container mt-3 " id="ad">
    <div class="row">
      <div class="col">
        <h3 class="display-3  p-3">AD</h3>
      </div>
    </div>
</section> -->
<!--writer 1-->
<section>
  <div class="container mt-3">
    <h3 class="display-5" id="A-heading">FEATURED IN {% block feat %}{% endblock %}</h3>
  </div>
</section>
<!--Big header-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% block feattrend %}
      
      {% endblock %}
    </div>
  </div>
</div>
<!--headings 2-->
<section class=" p-4" id="trending">
  <div class="container">
    <div class="row extend-sm">
      {% block trendcards %}
      
      {% endblock %}
    </div>
  </div>
</section>
<!---->
<!--Ad-->
<!-- <section class="container p-1 text-center bg-dark mt-2">
  <div class="container mt-3 " id="ad">
    <div class="row">
      <div class="col">
        <h3 class="display-3  p-3">AD</h3>
      </div>
    </div>
</section> -->
<!---->
<!--Ad-->
<!-- <section class="container p-1 text-center bg-dark mt-2">
  <div class="container mt-3 " id="ad">
    <div class="row">
      <div class="col">
        <h3 class="display-3  p-3">AD</h3>
      </div>
    </div>
</section> -->
<!--footer-->
{% endblock body %}