{% load static %}
<footer class="bg-dark">
    <div class="container pt-5 pb-5">
        <div class="row pt-5 pb-5">
            <div class="col-md-2">
              <img class="" id="footerlogo" src="{% static 'img/totell-e1559974619203.png' %}" alt="">
              <p class="text-light mt-5">©Copyright 2020, All Rights Reserved.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <h5 class="w-75 mr-auto " style="font-size: 2.53vh;font-weight: 400;color: rgb(107, 107, 107);">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At magnam sit eos repellat ipsam nisi excepturi corporis perferendis dolor adipisci?
                </h5>
                <div class="row w-75 mr-auto text-light mt-5">
                    <div class="col-md-4">
                        <h5 class="text-primary" style="font-weight:600 ;">QUICK LINKS</h5>
                        <hr class="w-50 mx-0 white mt-0">
                        <a style="color: whitesmoke;" href="{% url 'sneakpeek' %}"><p>Sneakpeek</p></a>
                        <a style="color: whitesmoke;" href="{% url 'lifestyle' %}"><p>Lifestyle</p></a>
                        <a style="color: whitesmoke;" href="{% url 'events' %}"><p>Events</p></a>
                        <a style="color: whitesmoke;" href="{% url 'trends' %}"><p>Trending</p></a>
                        <a style="color: whitesmoke;" href="{% url 'sciencetech' %}"><p>Technology</p></a>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-primary" style="font-weight:600 ;">USEFUL LINKS</h5>
                        <hr class="w-50 mx-0 white mt-0">
                        <a style="color: whitesmoke;" href="{% url 'aboutus' %}"><p>About Us</p></a>
                        <a style="color: whitesmoke;" href="{% url 'whoweare' %}"><p>Know who we are</p></a>
                        <p>Terms and Conditions</p>
                        <p>Advertise with us</p>
                        
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-primary" style="font-weight:600 ;">CONTACT</h5>
                        <hr class="w-50 mx-0 white mt-0 ">
                        <p><i class="fab fa-facebook-f mr-3 text-primary" aria-hidden="true"></i> Facebook</p>
                        <p><i class="fab fa-instagram mr-3 text-danger" aria-hidden="true"></i> instagram</p>
                        <p><i class="fab fa-twitter mr-3 text-info" aria-hidden="true"></i> Twitter</p>
                        <p><i class="fa fa-map mr-3 text-success" aria-hidden="true"></i> Maps</p>
                        <p><i class="fab fa-linkedin mr-3 text-primary" aria-hidden="true"></i> Linkedin</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>