{% load static %}

<!--top nav-->

<div class="" style="background: white;">
    <a href="{% url 'home' %}">
        <img src="{% static 'img/totell-e1559974619203.png' %}" id="logo" alt="" />
    </a>
    <nav class="navbar navbar-light fixed-top navbar-expand-sm" id="topnav">
        <form class="form-inline">
            <input class="form mr-sm-2" id="fom" type="search" placeholder="Search" aria-label="Search" />
        </form>
    </nav>
</div>

<!--bottom nav-->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark primary-color" id="a">
    <button class="navbar-toggler btn" id="mobilemenu" type="button" data-toggle="collapse" data-target="#navbarnav">
        <span class="navbar-toggler-icon ml-auto" id="mobmen"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarnav">
        <a href="{% url 'home' %}"><img src="{% static 'img/totell-e1559974619203.png' %}" alt="" id="logo2" /></a>
        <ul class="navbar-nav m-auto p-2">
            <li class="nav-item px-3 active">
                <a href="#" class="nav-link">SNEAK-PEAK</a>
            </li>
            <li class="nav-item px-3">
                <a href="#c" class="nav-link">EVENTS</a>
            </li>
            <li class="nav-item px-3">
                <a href="#d" class="nav-link">LIFESTYLE</a>
            </li>
            <li class="nav-item px-3">
                <a href="#e" class="nav-link"> TRENDS</a>
            </li>
            <li class="nav-item px-3">
                <a id="wwu" href="{% url 'writewithus' %}" class="nav-link">
                    <p style="margin: 0 10px 0 10px;padding: 0;color: white;font-weight: 500;">WRITE WITH US</p>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li>Hello, {{user.username}}</li>
            <li><a href="{% url 'logout' %}">&nbsp &nbsp &nbsp Log Out</a></li>
            <li><a href="{% url 'settings' %}">&nbsp &nbsp &nbsp Settings</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">&nbsp &nbsp &nbsp Register</a></li>
            <li><a href="{% url 'login' %}">&nbsp &nbsp &nbsp Log In</a></li>
            {% endif %}
        </ul>

        <div class="container row" id="icon2nav">
            <p style="font-weight: 600;">Follow us</p>
            <div class="row" id="iconrowbot">
                <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-facebook.svg' %}" alt=""></a>
                <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-instagram.svg' %}" alt=""></a>
                <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-play-button.svg' %}"
                        alt=""></a>
                <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-google-maps.svg' %}"
                        alt=""></a>
                <a class="col-2" href=""><img id="socialicon" src="{% static 'img/icons8-linkedin.svg' %}" alt=""></a>
            </div>
        </div>
    </div>
</nav>