{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="icon" href="" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="icon" href="{% static 'img/totell-e1559974619203.png' %}" type="image/x-icon" />
    <style>
        body {
            color: black;
        }

        #a {
            background: #fff;
        }

        #hiuser:hover {
            background: none;
        }

        #icon2nav {
            display: none;
        }

        #socialicon_pic {
            width: 25%;
        }

        .nav-link {
            color: black !important;
        }

        .nav-link {
            border-radius: 50px !important;
        }

        .active, .nav-link:hover {
            background: rgba(3, 35, 104, 0.089) !important;
        }

        @media only screen and (max-width: 991px) {
            #mobilemenu {
                background: rgba(255, 255, 255, 0);
                box-shadow: none;
                color: black;
                padding: 0 0 0 15px;
            }

            #mobmen {
                background-image: url({% static 'img/button.svg' %});
                width: 2em;
                height: 2em;
            }

            #socialicon_pic {
                width: 100% !important;
            }

            #navbarnav {
                height: 100vh !important;
            }

            #icon2nav {
                display: flex;
                justify-content: center;
                margin: 10vh 0 0 0 !important;
                padding: 0;
                text-align: center;
            }

            #icon2nav i {
                margin: 5px !important;
                padding: 0;
                justify-content: center;
            }
            #socialicon_pic {
                width: 100% !important;
            }
            #iconrowbot {
                justify-content: center;
                display: flex;
                flex-direction: row;
                padding-bottom: 10vh !important;
            }

            #iconrowbot i {
                margin: 0px;
                padding: 0;
            }

            #iconrowbot a {
                justify-content: center;
                padding: 0;
            }

            .pcon {
                display: none !important;
            }
        }

        @media only screen and (max-width: 767px) {
            #mobilemenu {
                background: rgba(255, 255, 255, 0);
                box-shadow: none;
                color: black;
                padding: 0 0 0 15px !important;
            }

            #mobmen {
                background-image: url({% static 'img/button.svg' %});

                width: 2em;
                height: 2em;
            }

            #socialicon_pic {
                width: 100%;
            }

            #navbarnav {
                height: 100vh;
            }

            #icon2nav {
                display: flex;
                justify-content: center;

                margin: 0 0 0 0;
                padding: 0;
                text-align: center;
            }

            #icon2nav i {
                margin: 5px;
                padding: 0;
                justify-content: center;
            }

            #iconrowbot {
                justify-content: center;
            }

            .pcon {
                display: none;
            }

            #iconrowbot i {
                margin: 0px;
                padding: 0;
            }
        }
    </style>
{% endblock %}
    <!--carousel-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a href="/"><img src="{% static 'img/totell-e1559974619203.png' %}" style="width: 100%;" alt="" /></a>
                </div>
                <div class="display-6 col-md-10 mt-4 text-right">Totell Express</div>
            </div>
        </div>
    </nav>

    <!--Navbar-->

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark primary-color" id="a">
        <button class="navbar-toggler btn" id="mobilemenu" type="button" data-toggle="collapse"
            data-target="#navbarnav">
            <span class="navbar-toggler-icon ml-auto" id="mobmen"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarnav">
            <ul class="navbar-nav m-auto p-2">
                <li class="nav-item px-1"></li>
                <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
                    <input class="form-control mr-sm-2 rounded-pill" required id="query" name="query" type="search"
                        placeholder="Search" aria-label="Search" />
                    <button type="submit" style="background: none; border: none;">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <li class="nav-item px-2" class="{% block SP %}{% endblock %}">
                    <a href="{% url 'sneakpeek' %}" class="nav-link">SNEAK-PEAK</a>
                </li>
                <li class="nav-item px-2 {% block E %}{% endblock %}">
                    <a href="{% url 'events' %}" class="nav-link">EVENTS</a>
                </li>
                <li class="nav-item px-2 {% block LS %}{% endblock %}">
                    <a href="{% url 'lifestyle' %}" class="nav-link">LIFESTYLE</a>
                </li>
                <li class="nav-item px-2 {% block T %}{% endblock %}">
                    <a href="{% url 'trends' %}" class="nav-link"> TRENDS</a>
                </li>
                <li class="nav-item px-2 {% block ST %}{% endblock %}">
                    <a href="{% url 'sciencetech' %}" class="nav-link">TECHNOLOGY</a>
                </li>

                <li class="nav-item px-2" id="hiuser">
                    <!--Dropdown primary-->
                    {% if user.is_authenticated %}
                        <div class="dropdown rounded-pill">
                            <!--Trigger-->
                            <button class="btn btn-dark dropdown-toggle rounded-pill" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hey, {{request.user.username}}
                            </button>
                            <!--Menu-->
                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                                <a class="dropdown-item" href="{% url 'writewithus' %}">Write With Us</a>
                            </div>
                        </div>
                    {% else  %}
                        <div class="dropdown rounded-pill">
                            <!--Trigger-->
                            <button class="btn btn-dark dropdown-toggle rounded-pill" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Connect with Us
                            </button>

                            <!--Menu-->
                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                                <a class="dropdown-item pcon" href="#"><img id="socialicon_pic" src="{% static 'img/icons8-facebook.svg' %}"
                                        alt="" />
                                    Like</a>
                                <a class="dropdown-item pcon" href="#"><img id="socialicon_pic" src="{% static 'img/icons8-instagram.svg' %}"
                                        alt="" />
                                    Follow</a>
                                <a class="dropdown-item pcon" href="#"><img id="socialicon_pic"
                                        src="{% static 'img/icons8-google-maps.svg' %}" alt="" />
                                    Rate</a>
                                <a class="dropdown-item pcon" href="#"><img id="socialicon_pic" src="{% static 'img/icons8-linkedin.svg' %}"
                                        alt="" />
                                    Connect</a>
                            </div>
                        </div>
                    {% endif %}
                </li>
            </ul>

            <div class="container row" id="icon2nav">
                <p style="font-weight: 600;">Follow us</p>
                <div class="row" id="iconrowbot">
                    <a class="col-2" href=""><img id="socialicon_pic" src="{% static 'img/icons8-facebook.svg' %}" alt="" /></a>
                    <a class="col-2" href=""><img id="socialicon_pic" src="{% static 'img/icons8-instagram.svg' %}" alt="" /></a>
                    <a class="col-2" href=""><img id="socialicon_pic" src="{% static 'img/icons8-google-maps.svg' %}" alt="" /></a>
                    <a class="col-2" href=""><img id="socialicon_pic" src="{% static 'img/icons8-linkedin.svg' %}" alt="" /></a>
                </div>
            </div>
        </div>
    </nav>
