{% extends 'Blog/category.html' %}
{% block link %}{% url 'sciencetech' %}{% endblock %}
{% block ST %}active{% endblock %}
{% block bread %}SCIENCE & TECHNOLOGY{% endblock %}
{% block heading %}SCIENCE & TECHNOLOGY{% endblock %}
{% block feat %}SCIENCE & TECHNOLOGY{% endblock %}
{% block feattrend %}
{% if t1 %}
    <div class="card text-center" id="trendcards" style="background: url({{t1.cover.url}});">
        <a href="{% url 'blog' t1.id %}">
            <div class="card-body " id="big">
                <p class="h2">{{t1.title}}</p>
                <p>{{t1.time}} minute read</p>
            </div>
        </a>
    </div>
{% else %}
    <h2>No article has been posted on this topic yet. Stay Tuned!</h2>
{% endif %}
{% endblock %}
{% block trendcards %}
{% for st in scitech %}
<div class="col-md-3">
    <a href="{% url 'blog' st.id %}">
        <div class="card text-center" id="trendcards" style="background: url({{st.cover.url}});">
            <div class="" id="z">
                <p class="h2">{{st.title}}</p>
                <p>{{st.time}} minute read</p>
            </div>
        </div>
    </a>
</div>
{% endfor %}
{% endblock %}