{% extends 'Blog/base.html' %}
{% block body %}
<!-- Posts  -->
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-9">
            <h3 style="font-weight: 800;">
                Search results for '{{query}}':
            </h3>
            {% if not allPosts %}
            <p>No search results found. Please refine your search!</p>
            {% endif %}
        </div>
    </div>
    <!-- Article  -->
    <div class=" ">
        <div class="row">
            {% for post in allPosts %}
            <div class="col-md-3 card my-2 mx-3 p-0"
                style="width: 100%;box-shadow: none;background: url({{ post.cover.url }}); background-position: center; border-radius: 25px;border-right: solid 5px rgb(156, 36, 255);border-left: solid 5px rgb(156, 36, 255);">
                <div
                    style="background: linear-gradient(180deg, rgba(29,0,77,0.5609594179468662) 0%, rgba(30,0,46,0.7570378493194152) 50%);border-radius: 25px;">
                    <div class="card-body">
                        <a href="{% url 'blog' post.id %}">

                            <h6 class="card-title text-white" style="font-weight: 600;">{{post.title}}</h6>
                        </a>
                        <h6 class="card-subtitle mb-2 text-light">{{ post.post_writer }}</h6>
                        <h6 class="card-subtitle mb-2 text-light">{{ post.blogType }}</h6>
                        <a href="{% url 'blog' post.id %}" class="card-link">Read</a>
                        <br>
                        <a class="card-link px-2 rounded-pill text-dark bg-white " id="minright">{{ post.time }} minutes
                            read</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}