{% extends 'Blog/category.html' %}

{% block link %}{% url 'sneakpeek' %}{% endblock %}
{% block SP %}active{% endblock %}
{% block bread %}SNEAK PEEK{% endblock %}
{% block heading %}SNEAK PEEK{% endblock %}
{% block feat %}SNEAK PEEK{% endblock %}
{% block feattrend %}
{% if s1 %}
    <div class="card text-center" id="trendcards" style="background: url({{s1.cover.url}});">
        <a href="{% url 'blog' s1.id %}">
            <div class="card-body " id="big">
                <p><span class="h2" style="color:white; font-size: 50px;">{{s1.title}}</span></p>
                <p>{{s1.time}} minute read</p>
            </div>
        </a>
    </div>
{% else %}
    <h2>No article has been posted on this topic yet. Stay Tuned!</h2>
{% endif %}
{% endblock %}
{% block trendcards %}
{% for sp in sneakpeek %}
<div class="col-md-3">
    <a href="{% url 'blog' sp.id %}">
        <div class="card text-center" id="trendcards" style="background: url({{sp.cover.url}});">
            <div class="" id="z">
                <p class="h2">{{sp.title}}</p>
                <p>{{sp.time}} minute read</p>
            </div>
        </div>
    </a>
</div>
{% endfor %}
{% endblock %}